# Visual Studio
.vs/
*.sln
*.csproj
*.user
source/PluginDev/obj/

# Unity3D
AssetStoreTools.meta
AssetStoreTools/
Library/
source/PluginDev/.vsconfig
source/PluginDev/ProjectSettings/
source/PluginDev/UnityPackageManager/manifest.json
Temp/
Logs/
Packages/
UserSettings/

# External Dependency Manager for Unity
ExternalDependencyManager/
ExternalDependencyManager.meta

# Unitypackage build process
build/
