# Visual Studio
.vs/
*.sln
*.csproj
source/PluginDev/obj/

# Unity3D
AssetStoreTools.meta
AssetStoreTools/
Library/
source/PluginDev/ProjectSettings/
Temp/
UnityPackageManager/

# Unitypackage build process
build/

# CloudOnce Specific
CloudOnceSettings.txt
